#cloud-config

users:
  - default

  - name: ansible
    gecos: Ansible user
    shell: /bin/bash
    groups:
      - sudo
    sudo:
      - ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key}

ssh_pwauth: false
disable_root: true

packages:
  - python3
  - python3-apt
  